@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", serif;
  --primary-color: #3a2620; /* Dark brown */
  --secondary-color: #aa9581; /* Light brown */
  --highlight-color: #416a8e; /* Medium blue */
  --light-color: #7a9fc2; /* Light blue */
}

/* Global Styles */
body {
  font-size: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.sub-heading-color {
  color: var(--highlight-color);
}

.sub-heading-color,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
}
