@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", serif;
  --primary-color: #3a2620; /* Dark brown */
  --secondary-color: #aa9581; /* Light brown */
  --highlight-color: #416a8e; /* Medium blue */
  --light-color: #7a9fc2; /* Light blue */
}

/* Global Styles */
body {
  font-size: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  /* Global positioning reusable for all of our sections to increase consistency*/
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Grid CSS for testing */

/* .sub-heading-color,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */

/*Navbar Styles*/
/* if the background color doesn't apply inspect tools will help to show the bootstrap class with attribute of !IMPORTANT is overriding CSS. In this case you need to delete the class */
#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* header Styles */

#header .lead {
  font-family: var(--secondary-font);
}

/* Services Section Styles */
#services .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#services .card,
#new-games .card,
#fav-games .card {
  margin-bottom: 1.5rem;
}

/* New Games Section Styles */

#new-games .card,
#fav-games .card {
  border-width: 0px;
}

/* Media Queries */
/* Services section */
@media screen and (min-width: 768px) {
  #services .card-body {
    min-height: 191px;
  }
}

@media screen and (min-width: 992px) {
  #services .card-body {
    min-height: auto;
  }
}

@media screen and (min-width: 1200px) {
  #services .card-body {
    min-height: 220px;
  }
}

@media screen and (min-width: 1400px) {
  #services .card-body {
    min-height: 195px;
  }
}

/* New Games section */
@media screen and (min-width: 768px) {
  #new-games .card-body > p:nth-of-type(1) {
    min-height: 98px;
  }
}

@media screen and (min-width: 992px) {
  #new-games .card-body > p:nth-of-type(1) {
    min-height: 74px;
  }
}

/* Favorite Games section */
@media screen and (min-width: 992px) {
  #fav-games .card-body > p:nth-of-type(1) {
    min-height: 98px;
  }
}

@media screen and (min-width: 1200px) {
  #fav-games .card-body > p:nth-of-type(1) {
    min-height: 169px;
  }
}

@media screen and (min-width: 1400px) {
  #fav-games .card-body > p:nth-of-type(1) {
    min-height: 147px;
  }
}
